.container{
    width: 100%;
    height: 100vh;
    background-color: #a4a0d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 80px;
}